In [25]:
import numpy as np
import sklearn as sk
import pandas as pd

In [26]:
train = pd.read_csv("w-train.txt", sep=";", names=["c", "p", "t", "s"])
test = pd.read_csv("s-test.txt", sep=";", names=["c", "p", "t"])
n = len(test)
print n

3849

In [27]:
train = pd.DataFrame(train)
test = pd.DataFrame(test)

In [28]:
train["t"] = train["t"].apply(lambda s: s[: s.find(":")])

train["s"] = 1.0 * np.array(train["s"]) / np.array(train["p"])

In [ ]:
coolness = []
for index, row in test.iterrows():
    teamname=row["t"]
    teamname = teamname[: teamname.find(":")]
    
    team_ids = (train["t"] == teamname)
    ans = np.mean(train["s"][team_ids])
    coolness.append(ans)

In [51]:
coolness = np.array(coolness)
nans = np.isnan(coolness)
mean_cns = np.mean(coolness[~nans])
coolness[np.isnan(coolness)] = mean_cns
test["cns"] = coolness

In [52]:
test["s"] = np.array(test["cns"]) * np.array(test["p"])

In [53]:
test.head()

,c,p,t,cns,s
0,"Day 01, Opening Contest, Friday, August 22, 2003",8,Wx4,0.150617,1.204935
1,"Day 01, Opening Contest, Friday, August 22, 2003",8,Trinity,0.434092,3.472737
2,"Day 01, Opening Contest, Friday, August 22, 2003",8,AI,0.035714,0.285714
3,"Day 01, Opening Contest, Friday, August 22, 2003",8,JUPITER,0.444233,3.553865
4,"Day 01, Opening Contest, Friday, August 22, 2003",8,Samara MNU,0.444233,3.553865

In [54]:
test.to_csv("prediction-a.csv", sep=";", na_rep=4, index=False, header=False, columns=["c", "p", "t", "s"])

In [55]:
test = test.sort(["cns"], ascending=False)

/home/manatee/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

In [56]:
test.head()

,c,p,t,cns,s
3605,"Day 03, Ivan Smirnov Contest 1, Sunday, August...",11,"SPb ITMO University 1: Bardashevich, Kovsharov...",0.839478,9.234259
3539,"Day 01, Japanese Contest, Friday, August 21, 2015",12,"SPb ITMO University 1: Bardashevich, Kovsharov...",0.839478,10.073737
3725,"Day 06, Yandex.Cup Round 2, Thursday, August 2...",10,"SPb ITMO University 1: Bardashevich, Kovsharov...",0.839478,8.394781
3811,"Day 09, Andrew Stankevich Contest 48, Monday, ...",10,"SPb ITMO University 1: Bardashevich, Kovsharov...",0.839478,8.394781
3658,"Day 05, Yandex.Cup Round 1, Wednesday, August ...",8,"SPb ITMO University 1: Bardashevich, Kovsharov...",0.839478,6.715825

In [57]:
test.tail()

,c,p,t,cns,s
112,"Day 07, Petrozavodsk SU Contest #2, Friday, Au...",10,AI,0.035714,0.357143
131,"Day 08, Final Contest, Saturday, August 30, 2003",9,AI,0.035714,0.321429
19,"Day 02, Andrew Stankevich Contest 1, Saturday,...",8,AI,0.035714,0.285714
58,"Day 04, Blitz Kontest, Monday, August 25, 2003",26,AI,0.035714,0.928571
142,"Day 09, KOTEHOK's Contest, Sunday, August 31, ...",8,AI,0.035714,0.285714

In [58]:
test.to_csv("prediction-c.csv", sep=";", na_rep=4, index=False, header=False, columns=["c", "p", "t"])

In [59]:
test["n"] = (0.9 - test["cns"]) / 0.25

In [60]:
def ftoi(x):
    if np.isnan(x):
        return 3
    else:
        return int(np.round(x))

In [61]:
test["n"] = test["n"].apply(ftoi)

In [62]:
test.head()

,c,p,t,cns,s,n
3605,"Day 03, Ivan Smirnov Contest 1, Sunday, August...",11,"SPb ITMO University 1: Bardashevich, Kovsharov...",0.839478,9.234259,0
3539,"Day 01, Japanese Contest, Friday, August 21, 2015",12,"SPb ITMO University 1: Bardashevich, Kovsharov...",0.839478,10.073737,0
3725,"Day 06, Yandex.Cup Round 2, Thursday, August 2...",10,"SPb ITMO University 1: Bardashevich, Kovsharov...",0.839478,8.394781,0
3811,"Day 09, Andrew Stankevich Contest 48, Monday, ...",10,"SPb ITMO University 1: Bardashevich, Kovsharov...",0.839478,8.394781,0
3658,"Day 05, Yandex.Cup Round 1, Wednesday, August ...",8,"SPb ITMO University 1: Bardashevich, Kovsharov...",0.839478,6.715825,0

In [63]:
test.to_csv("prediction-b.csv", sep=";", na_rep=4, index=False, header=False, columns=["c", "p", "t", "n"])